{{define "footer"}}<div class="fix"></div>
		<footer>
			<p>
				<em>触屏版</em> <em><a href="http://22v.net/">电脑版</a></em> <em><a href="#top">到顶部</a></em>
			</p>
			<p>
				爱美剧版权所有 @2016-2050
			</p>		
		</footer>
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?0b4e815ffb7f70cdcdefbcaf9b52afd0";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
		{{end}}